body {
    font-family: 'Arial', sans-serif;
    padding-top: 70px; /* Para la navbar fija */
}

.navbar-brand {
    font-weight: bold;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(30, 126, 170, 0.952);
    transition: transform 0.3s ease;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    height: 3rem;
    overflow: hidden;
}

.card-text {
    height: 1.5rem;
    overflow: hidden;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#cartCount {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#loadingSpinner {
    height: 200px;
    align-items: center;
}
